body {
  font-family: 'Lucida Sans Unicode';
  background-color: #ced2dc;
}

h1 {
  text-align: center;
  font-size: 50px;
}

/* Gameboard and sidebar css */
.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0 auto;
  width: fit-content;
  background-color: #F5F5F5;
  border-radius: 20px;
}

.sidebar {
  margin-left: 20px;
  width: 230px;
  text-align: center;
}

.active {
  /* border: 1px solid #FF6600; */
  box-shadow: inset 0px 0px 0px 5px #FF6600;
}

.cardHolder {
  display: flex;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #70707026;
}

.gridContainer {
  background-color: #84A4FC;
  border-radius: 30px;
}

.row {
  display: flex;
}

.primaryBtn {
  color: #ffffff;
  background: #4B7BFF;
  border-radius: 10px;
  border: 1px solid #70707026;
  box-shadow: 0px 3px 6px #00000029;
  padding: 10px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
}

.secondaryBtn {
  color: #4B7BFF;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #70707026;
  box-shadow: 0px 3px 6px #00000029;
  padding: 10px;
  width: 100%;
  height: 50px;
  font-size: 18px;
}

.endBtn {
  color: #CC0000;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #70707026;
  box-shadow: 0px 3px 6px #00000029;
  padding: 10px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
}

.cell {
  height: 70px;
  width: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.white {
  height: 60px;
  width: 60px;
  background-color: #FFF;
  border-radius: 100px;
}

.player1 {
  height: 50px;
  width: 50px;
  background-color: #DCF6E4;
  border-radius: 50%;
  border: 5px solid #37AC5D;
}

.player2 {
  height: 50px;
  width: 50px;
  background-color: #F6EFD5;
  border-radius: 50%;
  border: 5px solid #F8D146;
}

.avatar {
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.animatePiece {
  animation-iteration-count: 1;
  animation-name: move-piece;
  animation-duration: 0.5s;
}

/* Add this class only to winning cells */
.win {
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 10px #FFFF00;
  transition: box-shadow 0.5s, color 0.5s;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

@keyframes move-piece {
  from {transform: translateY(-500px);}
  to {transform: translateY(0px);}
}

/* Homepage related CSS */
.parentContainer {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.homepageContainer {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 3px 10px #00000029;
  width: 50%;
  margin: 0 auto;
}

.btnContainer {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.gameBtn {
  padding: 10px;
  color: #ffffff;
  border: none;
  width: 160px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* Two player Config */
.configContainer {
  background-color: #ffffff;
  border-radius: 20px;
  width: 40%;
  padding: 20px;
}

.optinsContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

label {
  text-align: left;
  color: #424242;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}

input[type=file] {
  opacity: 0;
  height: 100%;
  width: 100%;
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width : 240px) and (max-width : 568px) {

}